.btn {
    -fx-font: 16px "Nirmala UI Semilight";
    -fx-text-fill: #fff;
    -fx-padding: 5;
    -fx-background-color: #06799f;
    -fx-border-color: #6ad2f0;
    -fx-border-radius: 5px;
    -fx-border-width: 2px;
    -fx-background-insets: 0,1,4,5,6;
    -fx-background-radius: 9,8,5,4,3;
}

.btn-label {
    -fx-font: 16px "Nirmala UI Semilight";
    -fx-padding-right: 5;
}